@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-primary-red: #800000;
    --color-primary-crimson: #A33B20;
    --color-primary-mustard: #FED766;
    
    --color-white: #fff;
    --color-dark-1: #333;
    --color-dark-2: #444;

    --default-width-desktop: 80%;
}

html {
    font-size: 62.5%;
}

/* BASE */

body {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-dark-1);
}

.section {
    padding: 2rem 3rem;
}

/* HEADER */
.header {

}

/* ABOUT */

.section-about {
    background-image: linear-gradient(to right bottom, rgba(128, 0, 0, .8), rgba(128, 0, 0, .8)), url("/img/header/1.jpg");
}

.about {
    width: var(--default-width-desktop);
    margin: 0 auto;
    padding: 2rem;
    /* background-image: linear-gradient(to right bottom, rgba(254, 215, 102, .9), rgba(254, 215, 102, .9)); */
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
}

.about__heading {
    color: var(--color-primary-red);
    background-color: var(--color-white);
}

.about__paragraph {
    text-align: center;
    text-wrap: balance;
    margin-top: 2rem;
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.4;
}

/* CHAIRMAN */
.chairman {
    width: var(--default-width-desktop);
    margin: 0 auto;
}

.chairman__info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.chairman__info img {
    height: 8rem;
    border-radius: 50%;
    border: 3px solid var(--color-primary-mustard);
}

.chairman__info h4 {
    font-size: 2rem;
}

.chairman__message {
    margin-top: 3rem;
    font-size: 18px;
    background-color: var(--color-primary-mustard);
    padding: 2rem;
    border-radius: 20px;
    position: relative;
}

.chairman__message::before {
    content: "";
    height: 40px;
    width: 40px;
    background-color: inherit;
    transform: rotate(45deg);
    position: absolute;
    left: 2rem;
    top: -1rem;
    z-index: -1;
}

/* FACILITIES */
.section-facilities {
    background-color: var(--color-primary-red);
}

.facilities {
    width: var(--default-width-desktop);
    margin: 0 auto;
}

.facilities__heading {
    background-color: var(--color-primary-mustard);
    color: var(--color-primary-red);
}

.facilities__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 4rem;
}

.facilities__item {
    border: 1px solid var(--color-primary-mustard);
    color: var(--color-primary-mustard);
    padding: 4rem 2rem;
    border-radius: 40px;
    transition: all .2s;
}

.facilities__item:hover {
    background-color: #fed86626;
}

.facilities__icon {
    font-size: 3rem;
}

.facilities__name {
    margin-top: 2rem;
    font-size: 2rem;
}

.facilities__paragraph {
    margin-top: 1rem;
}

/* UTILS */

.primaryHeading {
    text-transform: uppercase;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 40px;
}